<aside class="asside">
    <div class="d-flex flex-column h-100">
        <div class="asside-user d-flex justify-content-evenly mt-3">
            <img class="img" src="assets/user.jpeg" alt="Foto Perfil">

            <div>
                <p class="username">Usuario</p>
                <p class="mail">{{text}}</p>
            </div>
        </div>

        <div class="line"></div>

        <div class="asside-nav d-flex flex-column justify-content-between">
            <ul class="ul d-flex flex-column gap-4">
                <li><a routerLink="">Mis cursos</a></li>
                <li><a routerLink="">Cursos por materia</a></li>
            </ul>

            <button class="btn btn-pink">Subir curso</button>
        </div>
    </div>
</aside>