<aside class="asside">
    <div class="d-flex flex-column h-100">
        <div class="asside-user d-flex justify-content-evenly mt-3">
            <img class="img" src="assets/user.jpeg" alt="Foto Perfil">

            <div>
                <p class="username">{{username}}</p>
                @for(user of usuario; track user) {
                    <p class="mail">{{user.nombres}} <span class="d-block">{{user.apellido_P}} {{user.apellido_M}}</span></p>
                }
            </div>
        </div>

        <div class="line"></div>

        <div class="asside-nav d-flex flex-column justify-content-between">
            <ul class="ul d-flex flex-column gap-4">
                <li (click)="porID()">Todos los cursos</li>
                <li (click)="porUsuario()">Mis cursos</li>
                <li>Cursos por materia</li>
            </ul>

            <div class="botones">
                @if(userRol === 'Administrador') {
                    <button class="btn btn-pink" routerLink="/users">Ver usuarios</button>
                }
                @if(userRol === 'Administrador' || userRol === 'Docente') {
                    <button class="btn btn-pink" routerLink="/upload">Subir curso</button>
                }
            </div>
        </div>
    </div>
</aside>