<div class="preview">
    @if(imagen) {
        <img class="img" [src]="imagen" alt="miniatura">
    } @else {
        <div class="view"></div>
    }
    <div class="text d-flex flex-column justify-content-start align-items-center gap-3">
        <h3>
            @if(titulo.length === 0) {
                Título
            } @else {
                {{titulo}}
            }
        </h3>

        @if(descripcion.length === 0) {
            <p class="descripcion-none">Descripcion del video</p>
        } @else {
            <p class="descripcion">{{descripcion}}</p>
        }
    </div>
</div>
