@use '../../../../../styles.scss' as m;

.preview {
    background-color: #fff;
    border-radius: 1.5rem;
    width: 55rem;
    height: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include m.pc-mediano {
        height: 65rem;
    }

    .view {
        display: block;
        content: " ";
        height: 30rem;
        width: 50rem;
        background-color: #000;
        margin: 0 auto 2rem auto;
    }

    .text {
        width: 95%;
        text-align: center;
        
        .descripcion {
            width: 95%;
            height: auto;
            max-height: 12rem;
            overflow: auto;
            text-align: justify;
    
            @include m.pc-mediano {
                max-height: 25rem;
                font-size: 1.8rem;
            }
        }

        .descripcion-none {
            text-align: center;
        }
    }

}