<form class="form d-flex flex-column justify-content-around align-items-center gap-5"
[formGroup]="formFormulario" (ngSubmit)="enviar($event)">
    <h2>Subir curso</h2>

    <input class="" type="text" maxlength="65" placeholder="Título" formControlName="titulo" (input)="cambiosTitulo($event)">

    <select name="temas" formControlName="tema">
        <option value="">Tema</option>
        <option value="matematicas">Matemáticas</option>
        <option value="espanol">Español</option>
        <option value="ciencias">Ciencias</option>
        <option value="historia">Historia</option>
        <option value="geografia">Geografía</option>
        <option value="ingles">Inglés</option>
        <option value="arte">Arte</option>
        <option value="musica">Música</option>
        <option value="educacion_fisica">Educación Física</option>
        <option value="computacion">Computación</option>
    </select>
    
    <div class="div-file">
        <label class="label-file" for="curso">Cargar Curso</label>
        <input class="input-file" type="file" id="curso" (change)="agregarCurso($event)">
    </div>
    
    <div class="div-file">
        <label class="label-file" for="mini">Imagen del curso</label>
        <input class="input-file" type="file" id="mini" (change)="agregarMiniatura($event)">
    </div>
    
    <textarea placeholder="Descripción del video" formControlName="descripcion" (input)="cambiosDescripcion($event)"></textarea>
    
    <button class="btn btn-pink">Publicar</button>
</form>
