<form class="form d-flex flex-column justify-content-around align-items-center gap-5"
[formGroup]="formFormulario" (ngSubmit)="enviar()">
    <h2>Subir curso</h2>

    <input class="" type="text" maxlength="65" placeholder="Título" formControlName="titulo" (input)="cambiosTitulo($event)">

    <select name="temas" formControlName="tema">
        <option value="" selected>Materia</option>
        @for(mat of materias; track mat){
            <option [value]="mat.nombre">{{mat.nombre}}</option>
        }
    </select>
    
    <div class="div-file">
        <label class="label-file" for="curso">{{inputCurso}}</label>
        <input class="input-file" type="file" id="curso" (change)="agregarCurso($event)"
        accept="application/zip">
    </div>
    
    <div class="div-file">
        <label class="label-file" for="mini">{{inputMini}}</label>
        <input class="input-file" type="file" id="mini" (change)="agregarMiniatura($event)"
        accept="image/jpg, image/png, image/webp, image/avif">
    </div>
    
    <textarea placeholder="Descripción del video" formControlName="descripcion" (input)="cambiosDescripcion($event)"></textarea>
    
    <button class="btn btn-pink" [disabled]="formFormulario.invalid">Publicar</button>
</form>
