<form class="form d-flex flex-column justify-content-around align-items-center gap-5">
    <h2>Subir curso</h2>

    <input class="" type="text" maxlength="65" placeholder="Título" (input)="cambiosTitulo($event)">

    <select name="materias">
        <option value="">Enfoque</option>
        <option value="matematicas">Matemáticas</option>
        <option value="espanol">Español</option>
        <option value="ciencias">Ciencias</option>
        <option value="historia">Historia</option>
        <option value="geografia">Geografía</option>
        <option value="ingles">Inglés</option>
        <option value="arte">Arte</option>
        <option value="musica">Música</option>
        <option value="educacion_fisica">Educación Física</option>
        <option value="computacion">Computación</option>
    </select>
    
    <div class="div-file">
        <label class="label-file" for="upload">Cargar Video</label>
        <input class="input-file" type="file" id="upload">
    </div>
    
    <textarea placeholder="Descripción del video" (input)="cambiosDescripcion($event)"></textarea>
    
    <button class="btn btn-pink">Publicar</button>
</form>
