@use '../../../../../styles.scss' as m;

.form {
    background-color: m.$bg-navigation;
    border-radius: 1.5rem;
    width: 55rem;
    height: 55rem;
    padding: 4rem 0;

    @include m.pc-mediano { 
        height: 65rem;
    }

    .div-file {
        margin: 0 auto;
        width: 95%;

        .label-file {
            cursor: pointer;
            background-color: #FFF;
            border: none;
            border-radius: 2rem;
            display: block;
            width: 100%;
            font-size: 2.5rem;
            padding: .5rem 0;
            text-align: center;
            color: black;
            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: rgb(171, 171, 171);
            }
        }

        .input-file {
            display: none;
        }
    }


    h2 {
        background: m.$bg-degraded;
        padding: 5px;
        width: 100%;
        text-align: center;
        color: white;
    }

    input, select, textarea {
        width: 95%;
        border-radius: 2rem;
        border: none;
        padding: .5rem 0;
        font-size: 2.5rem;
        text-align: center;
    }

    textarea {
        height: 20rem;
    }
}