<main class="main">
    <h2>Cursos recientes</h2>

    <div class="courses">
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
        <app-course/>
    </div>
</main>
